* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #1b1b45;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 550px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.form input {
  width: 50%;
  height: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 5px;
}

.form label {
  color: #fff;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.form h2 {
  color: #fff;
  font-size: 22px;
  text-align: center;
  transform: translateY(-80px);
}

.btn {
  width: 275px;
  height: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  border: none;
  border-radius: 5px;
  outline: none;
}
