* {
  padding: 0;
  margin: 0;
}

body {
  background: #1b1b45;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  height: 100vh;
}

.card-prod {
  width: 1200px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  background-color: #202050;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-card {
  width: 50%;
}

.left-card img {
  width: 500px;
}

.right-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.right-card span {
  font-size: 28px;
}

.btn {
  display: flex;
  flex-direction: column;
}

#btn-comprar {
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

#btn-adicionar {
  width: 200px;
  height: 50px;
  border-radius: 10px;
}
