@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1b1b45;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  height: 150vh;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.links ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 18px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.links ul li a {
  text-decoration: none;
  color: #fff;
}

.usuario a {
  text-decoration: none;
  color: #fff;
  margin-right: 70px;
}

body > h1 {
  color: #fff;
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
}
.lista-jogos {
  display: grid;
  grid-template-columns: repeat(4, 370px);
  row-gap: 50px;
  margin-top: 100px;
}

.card-jogo {
  width: 300px;
  height: 400px;
  background-color: #313181;
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-bottom: 5px solid transparent;
}

.card-jogo:hover {
  border: 2px solid #0d6ae4;
  border-bottom: 5px solid #0d6ae4;
  transition: 0.3s;
}

.card-jogo > a {
  height: 100%;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-compra {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  cursor: pointer;
  background: #94ffab;
  background: linear-gradient(
    90deg,
    rgba(148, 255, 171, 1) 0%,
    rgba(69, 255, 75, 1) 100%
  );
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins";
  color: #000;
}

a > img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

a > h2 {
  font-size: 18px;
  margin-left: 15px;
  font-weight: 600;
}

a > p {
  font-size: 14px;
  margin-left: 15px;
}

a > span {
  font-size: 18px;
  margin-left: 15px;
  color: #fff;
  font-weight: 700;
}
