* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

body > h1,
body > h3 {
  text-align: center;
}

body > h1 {
  margin-top: 50px;
}

body > h3 {
  margin-top: 70px;
}
.form {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 40px auto;
  gap: 10px;
}

.form > label {
  font-size: 18px;
  margin-top: 5px;
}
.form > input {
  width: 400px;
  height: 40px;
  outline: none;
  border: 1px solid #5e5e5e;
}

.form > input[type="text"],
.form > input[type="number"] {
  font-size: 16px;
}

.form > input[type="file"] {
  border: none;
}

.btn-register {
  width: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table th {
  background-color: #f0f0f0;
}

table td,
table th {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}
